[user]
    name = Penelope Yong
    email = penelopeysm@gmail.com

[include]
    path = ~/.gitsigningkey
# This file should look like:
#
# [user]
#     signingkey = ......
#
# where the key is obtained via gpg --list-secret-keys --keyid-format=long

[commit]
    gpgsign = true
[alias]
    unadd = reset HEAD --
	recommit = commit --amend --no-edit
    st = status
    co = checkout
    a = add
    p = push
    pf = push --force
	ci = commit
	reci = recommit
    lg = log --graph
    new = checkout -b
    delbranch = !git branch | grep -v "master" | grep -v "main" | grep -v $(git rev-parse --abbrev-ref HEAD) | xargs git branch -D 
[core]
    editor = vim
    autocrlf = input
    pager = diff-so-fancy | less --tabs=4 -RFX
	excludesFile = ~/.gitignore
[interactive]
	diffFilter = diff-so-fancy --patch
[pull]
	rebase = false
[diff]
	tool = vimdiff
[push]
    autoSetupRemote = true

; The colours below are tailored for a light terminal. For a dark terminal
; simply comment them out.
[color "decorate"]
	branch = bold 34
    remoteBranch = bold 197
	HEAD = bold 33
    tag = bold 172
[color "diff"]
    commit = 128
[color "status"]
    added = 34
    changed = 33
    untracked = 92
    deleted = 198
[merge "ours"]
	driver = true
[checkout]
	workers = 6
[init]
	defaultBranch = main

; vim: ft=gitconfig
